<!-- Hero -->
<!-- Header -->
<header class="home-header pt-0 pb-0 no-gutters d-flex align-items-stretch">
    <div class="flex-embed-cover"></div>
    <div class="container-fluid no-gutters p-0 d-none" id="home-header-video-frame">
        {% include peertube-video.html url="https://tube.extinctionrebellion.fr/videos/embed/87eba1b5-44e6-490f-a41e-42c52b3b7bb7" ratio="16by9" %}
    </div>
    <div id="home-header-video-cover" class="align-self-stretch container-fluid no-gutters p-0 home-header-video-cover mw-100 h-100 overflow-hidden position-absolute">
        <button class="hero-video-play-icon scale-on-hover" id="hero-video-play-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><circle class="circle" cx="249.5" cy="251" r="230" fill="#13A937"></circle><path class="triangle" fill="#FFF" d="M172.34 383.84l233.4-131.87-233.4-131.87z"></path></svg></button>
    </div>
</header>
