<!-- Home events -->
<section class="home-category-boxes pt-5 pb-0 bg-light-gray" id="home-category-boxes">
    <div class="container-fluid">
        <div class="row">
            <!-- bang.svg
                 news.svg
                 quotes.svg -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 xr-color-box mb-5">
                <div class="card py-md-0 px-md-0 border-0 rounded-0 text-center">
                    <div class="card-header bg-pink d-flex">
                        <img src="/assets/img/icons/quotes.svg" class="img-fluid align-middle mx-auto my-auto rounded-0" />
                    </div>
                    <div class="card-body">
                        <h3 class="event-title card-title">
                            The Truth
                        </h3>
                        <a class="btn btn-xl btn-secondary stretched-link" href="/the-truth/">
                            {{ site.data.locales['Find out more'] }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 xr-color-box mb-5">
                <div class="card py-md-0 px-md-0 border-0 rounded-0 text-center">
                    <div class="card-header bg-blue-baby d-flex">
                        <img src="/assets/img/icons/bang.svg" class="img-fluid mx-auto my-auto rounded-0" />
                    </div>
                    <div class="card-body">
                        <h3 class="event-title card-title">
                            Act Now
                        </h3>
                        <a class="btn btn-xl btn-secondary stretched-link" href="/act-now/">
                            {{ site.data.locales['Find out more'] }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 xr-color-box mb-5">
                <div class="card py-md-0 px-md-0 border-0 rounded-0 text-center">
                    <div class="card-header bg-orange d-flex">
                        <img src="/assets/img/icons/news.svg" class="img-fluid mx-auto my-auto rounded-0" />
                    </div>
                    <div class="card-body">
                        <h3 class="event-title card-title">
                            News
                        </h3>
                        <a class="btn btn-xl btn-secondary stretched-link" href="act-now/events/news/">
                            {{ site.data.locales['Find out more'] }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
